:root {
    color-scheme: light;

    /* light theme colors*/
    --color-bg: #727272;
    --color-text: #333338;
    --color-accent: oklch(65% 0.25 240);
    --border-color: oklch(50% 0.13 250);
}

html,
body {
  margin: 0;
  padding: 5;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

#map {
  width: 100%; /* Adjust width to your desired size */
  height: 100%; /* Adjust height to your desired size */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: subtle shadow for effect */
  border-radius: 8px; /* Optional: rounded corners */
}

#map svg {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

#map svg circle {
  pointer-events: auto;
}

#selected-time, #any-time {
  display: block;
}

#any-time {
  opacity: 0.6;
  font-style: italic;
}

#map circle, 
.legend > div {
  --color-departures: steelblue;
  --color-arrivals: darkorange;
  --color: color-mix(
    in oklch,
    var(--color-departures) calc(100% * var(--departure-ratio)),
    var(--color-arrivals)
  );
  fill: var(--color);
}

.legend {
  display: flex;
  gap: 1px;
  margin-block: 1rem;
  width: 100vw;
  box-sizing: border-box;
  padding-inline: 0.5rem;
}

.legend > div {
  flex: 1;
  background: var(--color);
  color: white;
  text-align: center;
  padding: 0.6em 1.4em;
  font-size: 0.9rem;
  border-radius: 2px;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.1;
    text-wrap: balance;
    display: inline-block;
    background-color: color-mix(in oklch, var(--color-bg), canvas 85%);
    color: var(--color-text);
    padding: 0.25em 0.6em;
    border-radius: 0.5rem;
}